*{
    font-family: Inter;
    color: white;
}

body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location{
    color: #FBBC05;
    font-size: 14px;
    margin-top: -10px;
    font-weight: 500;
}

.role{
    color: hsl(0, 0%, 60%);
    margin-bottom: 25px;
}

.my-container{
    background-color: hsl(0, 0%, 8%);
    width: 35%;
    height: 625px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.profile{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 35px;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
}

.link{
    text-decoration: none;
    background-color: hsl(0, 0%, 12%);
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.link:active{
    background-color: #FBBC05;
    color: black
}

.link:hover{
    transform: scale(1.05);
    background-color: #FBBC05;
}

.link:nth-child(9){
    margin-bottom: 15px;
}

@media (max-width: 800px)
{
    .my-container{
        width: 90%;
    }
    .role{
        font-size: 12px;
    }
}


